.App {
  text-align: center;
  width: 100%;
}

.App-header {
  background-color: #000000c3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#root > div > header > nav {
  width: 100%;
}

#programGrid {
  width: 95%;
}

#coachCard {
  padding-top: 8%;
  padding-bottom: 1%;
  padding-right: 10%;
  padding-left: 10%;
}

.navbar-brand {
  padding-left: 3%;
  text-align: center;
  font-family: Impact;
}

.navbar-brand img {
  margin-left: 5%;
}

#root > div > header > nav > button {
  margin-right: 3%;
}

#root > div > header > nav > button #root > div > header > form {
  padding-top: 3%;
  margin-top: 3%;
}

#formGridCheckbox > div {
  display: table;
}

#formGridCheckbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.smallMessage {
  font-size: medium;
}

.mediumMessage {
  font-size: medium;
  font-weight: bold;
}

.coachSubmittedMssg {
  padding-left: 15%;
  padding-right: 15%;
}

#root > div > header > div > form > div:nth-child(1) > small {
  font-size: small;
}

#responsive-navbar-nav > div > div.nav-logout > button {
  flex-direction: column;
  font-size: smaller;
  height: 30px;
  justify-content: center;
}

.navbar-nav {
  flex: 1;
}

.nav-logout {
  padding-right: 30px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex: 6;
}

.dropdown-menu.show {
  background-color: #212529;
  --bs-dropdown-link-active-bg: #212529;
  --bs-dropdown-link-hover-bg: #414446;
  --bs-dropdown-link-hover-color: white;
  text-align: center;
}

a.dropdown-item {
  color: white;
}

/* button.btn.btn-dark {
  --bs-btn-hover-bg: #80a35b;
  --bs-btn-hover-border-color: #414446;
  --bs-btn-bg: rgba(58, 104, 20, 0.723);
} */

/* CSS */
button.btn.btn-dark {
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

button.btn.btn-dark:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

button.btn.btn-dark:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

#coachCard > button {
  align-self: center;
  width: 30vw;
  margin-bottom: 15px;
}

#listItems > button {
  --bs-btn-hover-bg: #80a35b;
  --bs-btn-hover-border-color: none;
  --bs-btn-bg: rgba(76, 87, 23, 0.764);
}

#coachCard {
  width: 80%;
  margin-top: 6%;
  padding-top: 3%;
}

div.card {
  background-color: #292a2a;
}

#programFormCardLayout {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 5%;
  width: 100%;
  margin-bottom: 75vmax;
}

/* #programCardContainer > h3 > div {
  margin-bottom: 10%;
} */

/* #root > div > header > div {
  width: 90%;
} */

#programForm > form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: justify;
}

#programForm {
  display: flex;
  flex-direction: column;
  width: 60vw;
  padding-right: 2.5%;
  margin-right: 2.5%;
  padding-top: 55px;
  align-items: center;
}

#programCard {
  margin: 2.5%;
  height: fit-content;
}

#programCardContainer {
  display: flex;
  flex-direction: column;
  width: 40vw;
  border-left: 1px solid rgba(121, 117, 117, 0.424);
  /* padding-top: 75px; */
}

#editProgramFormCardLayout {
  width: 100%;
}

#editProgramForm {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding-right: 2.5%;
  padding-left: 2.5%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  padding-top: 0px;
  align-items: center;
}

#editForm {
  width: 90%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#practiceTimeLayout {
  display: flex;
  flex-direction: row;
}

#cropperButtons {
  display: flex;
  flex-direction: row;

  padding-top: 8px;
  justify-content: center;
}

#editProgramCardBody {
  color: white;
  text-align: center;
}

#offCanvas {
  background-color: rgb(231, 231, 206);
  width: 40vw;
  display: flex;
  margin-top: 67px;
  overflow-y: auto;
}

.offcanvas-backdrop.show {
  opacity: 0;
}

#listItems {
  display: flex;
  flex-direction: row;
  width: 60vw;
  justify-content: space-between;
}

#listItems > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thumbnail-image {
  width: 40px;
  border-radius: 50%;
}

#responsive-navbar-nav > div > div.nav-logout.nav-item.dropdown > a::after {
  display: none !important;
}

#responsive-navbar-nav > div > div.nav-logout.nav-item.dropdown > a {
  display: flex;
  flex-direction: column;
  padding: 0;
}

#responsive-navbar-nav > div > div.nav-logout.nav-item.show.dropdown > div {
  margin-top: 12px;
}

#responsive-navbar-nav
  > div
  > div.nav-logout.nav-item.show.dropdown
  > div
  > span:hover {
  background-color: #212529;
}

#offcanvasHeaderFixed {
  padding-bottom: 8px;
}

#OffcanvasHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#offcanvasHeaderName {
  padding-left: 16px;
}

#OffcanvasImage {
  padding-top: 20px;
  width: 200px;
}

.coachProfContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 20%;
  padding-right: 20%;
}

.coachProficiency {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coachProfTitle {
  margin-bottom: 3px;
}

.FcCheckmark {
  font-size: xx-large;
}

.RiCloseFill {
  font-size: xx-large;
  color: crimson;
}

.offcanvasText {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: justify; */
}

.offcanvasTextLineItem {
  display: flex;
  flex-direction: row;
}

.offcanvasTextLineItem > a {
  padding-left: 5px;
}

#acceptDenyCoachAppl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#coachAppAcceptButton {
  background-color: #80a35b;
  border-color: #80a35b;
}

#coachAppDeclineButton {
  background-color: brown;
  border-color: brown;
}
#practiceDaysArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.dayButton {
  background-color: slategray;
  box-shadow: 5px;
  display: flex;
  width: fit-content;
  margin: 2%;
  padding: 2%;
  border-radius: 10%;
  border: slategray 2px solid;
  justify-content: center;
  font-size: 100%;
  user-select: none;
  font-weight: 600;
}

.dayButtonSelected {
  display: flex;
  width: fit-content;
  margin: 2%;
  padding: 2%;
  border-radius: 10%;
  border: rgb(54, 100, 69) 2px solid;
  justify-content: center;
  font-size: 100%;
  background-color: #365f36dc;
  user-select: none;
  font-weight: 600;
}

.practiceDayMasterLayout {
  display: flex;
  flex-direction: column;
}

.practiceDayMasterLayoutHidden {
  display: none;
}

.practiceScheduleLayout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#practiceClockTimeLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.copyCloneSelector {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: baseline;
}

.copyCloneLayoutArea {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.timePickerLayout {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}

.timeOption {
  display: flex;
  flex-direction: row;
  justify-content: right;
  text-align: right;
}

#locationLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rdrCalendarWrapper {
  border-radius: 5%;
  overflow: hidden;
}

.rdrDateDisplayWrapper {
  border-top: none;
}

.custom-control-input {
  transform: scale(1.2);
}

#isActiveLayout {
  /* margin-left: 15%;
  margin-right: 15%; */
  width: 100%;
  display: flex;
  justify-content: center;
}

.sports {
  padding-left: 4px;
}

#programDetailsPageContainer {
  margin-top: 3%;
}

#programRegisterContainer {
  padding: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#dateContainer {
  justify-content: center;
  width: 320px;
}

#registrationTitle {
  padding-bottom: 8%;
}

#coachPhotoReg {
  width: 40%;
}

#programDetailsProgramName {
  margin-top: 15%;
}

.oneLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dobCal {
  display: flex;
  justify-content: center;
}

#loginSignUpNavLinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10px;
}

@media only screen and (max-width: 576px) {
  #applicantListContainer {
    padding-top: 90px;
  }

  #coachAppButtonsDiv {
    display: flex;
    flex-direction: column;
  }

  .nav-links {
    flex-direction: column;
    width: 100vw;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #profilePic {
    padding-top: 5%;
  }

  #responsive-navbar-nav > div > div.nav-logout.nav-item.show.dropdown {
    width: 100vw;
  }

  .nav-logout {
    width: 150px;
    position: absolute;
    right: 0;
    padding: 0;
  }

  #coachCard {
    padding: 0px;
    margin: 0px;
  }

  #programDetailsPageContainer {
    margin-top: 12%;
  }

  #root > div > header > form {
    padding-top: 15%;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }

  #coachCard {
    width: 98%;
  }

  #listItems {
    width: 90vw;
  }

  #offCanvas {
    display: flex;
    margin-top: 17%;
    width: 95vw;
    height: 92vh;
  }

  #programFormCardLayout {
    flex-direction: column;
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 15%;
    align-items: center;
    margin-bottom: 15vmax;
  }

  #programForm {
    width: 100%;
    padding: 2.5%;
    margin: 2.5%;
  }

  #programCard {
    width: 100%;
    margin: 2.5%;
  }

  #programCardContainer {
    width: 100%;
    border-left: none;
    padding: 5%;
  }

  #calendarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #programCardContainer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #dateContainer {
    justify-content: center;
    width: 100%;
  }

  #programRegisterContainer {
    padding-top: 15%;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #registrationTitle {
    padding-top: 12%;
    padding-bottom: 4%;
  }

  #coachPhotoReg {
    width: 80%;
  }

  #loginSignUpNavLinks {
    flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 829px) {
  .navbar-nav {
    align-items: center;
  }
  .nav-links {
    flex-direction: row;
  }
  .nav-logout {
    width: 150px;
    position: absolute;
    right: 0;
    padding: 0;
    align-items: center;
  }

  #coachCard {
    padding: 0px;
    margin: 0px;
  }

  #root > div > header > form {
    padding-top: 5%;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }

  #coachCard {
    width: 98%;
  }

  #listItems {
    width: 90vw;
  }

  #offCanvas {
    display: flex;
    /* margin-top: 17%; */
    width: 95vw;
    /* height: 92vh; */
  }

  #programFormCardLayout {
    flex-direction: column;
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 15%;
    align-items: center;
    margin-bottom: 15vmax;
  }

  #programForm {
    width: 100%;
    padding: 2.5%;
    margin: 2.5%;
  }

  #programCard {
    width: 100%;
    margin: 2.5%;
  }

  #programCardContainer {
    width: 100%;
    border-left: none;
    padding: 5%;
  }

  #calendarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #programDetailsAll {
    height: 100%;
    width: 100%;
  }

  #programCardContainer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #coachPhotoReg {
    width: 60%;
  }
}

@media only screen and (min-width: 830px) {
  #profilePic {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 15px;
  }

  #coachApplicationForm {
    padding-top: 12%;
  }

  .nav-logout {
    width: 150px;
    position: absolute;
    right: 0;
    padding: 0;
    align-items: center;
  }

  #programCardContainer > div {
    margin: 2.5%;
    position: fixed;
    margin-top: 40px;
  }
}
