.App {
  text-align: center;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#root > div > header > nav {
  width: 100%;
}

#programGrid {
  width: 100%;
}

#coachCard {
  padding-top: 8%;
  padding-bottom: 1%;
  padding-right: 10%;
  padding-left: 10%;
}

.navbar-brand {
  padding-left: 3%;
  text-align: center;
  font-family: Impact;
}

.navbar-brand img {
  margin-left: 5%;
}

#root > div > header > nav > button {
  margin-right: 3%;
}

#root > div > header > form {
  padding-top: 3%;
  margin-top: 3%;
}

#formGridCheckbox > div {
  display: table;
}

.smallMessage {
  font-size: medium;
}

.mediumMessage {
  font-size: medium;
  font-weight: bold;
}

.coachSubmittedMssg {
  padding-left: 15%;
  padding-right: 15%;
}

#root > div > header > div > form > div:nth-child(1) > small {
  font-size: small;
}

#responsive-navbar-nav > div > div.nav-logout > button {
  flex-direction: column;
  font-size: smaller;
  height: 30px;
  justify-content: center;
}

.navbar-nav {
  flex: 1;
}

.nav-logout {
  flex: 1;
  padding: 3px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex: 6;
}

.dropdown-menu.show {
  background-color: #212529;
  --bs-dropdown-link-active-bg: #212529;
  --bs-dropdown-link-hover-bg: #414446;
  --bs-dropdown-link-hover-color: white;
  text-align: center;
}

a.dropdown-item {
  color: white;
}

button.btn.btn-dark {
  --bs-btn-hover-bg: #414446;
  --bs-btn-hover-border-color: #414446;
  --bs-btn-bg: rgba(180, 180, 41, 0.287);
}

#coachCard > button {
  align-self: center;
  width: 30vw;
  margin-bottom: 15px;
}

#coachCard {
  width: 80%;
  margin-top: 6%;
  padding-top: 3%;
}

div.card {
  background-color: #292a2a;
}

#programFormCardLayout {
  display: flex;
  flex-direction: row;
  padding: 5%;
  margin: 5%;
}

#programForm {
  width: 60%;
  padding-right: 2.5%;
  margin-right: 2.5%;
}

#programCard {
  width: 40%;
  padding-left: 2.5%;
  margin-left: 2.5%;
}

#practiceTimeLayout {
  display: flex;
  flex-direction: row;
}

#practiceDaysArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dayButton {
  display: flex;
  width: fit-content;
  margin: 2%;
  padding: 2%;
  border-radius: 10%;
  border: slategray 2px solid;
  justify-content: center;
  font-size: 100%;
  user-select: none;
}

.dayButtonSelected {
  display: flex;
  width: fit-content;
  margin: 2%;
  padding: 2%;
  border-radius: 10%;
  border: slategray 2px solid;
  justify-content: center;
  font-size: 100%;
  background-color: slategray;
  user-select: none;
}

.practiceDayMasterLayout {
  display: flex;
  flex-direction: column;
}

.practiceDayMasterLayoutHidden {
  display: none;
}

.practiceScheduleLayout {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-end;
}

#practiceClockTimeLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.timePickerLayout {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.timeOption {
  display: flex;
  flex-direction: row;
  justify-content: right;
  text-align: right;
}

#locationLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* #calButtonLayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.calButton {
  display: flex;
  margin: 3%;
  padding: 3%;
  width: 18%;
  border-radius: 10%;
  border: blue 2px solid;
  justify-content: center;
  font-size: 100%;
  user-select: none;
}

.calButtonPressed {
  display: flex;
  margin: 3%;
  padding: 3%;
  width: 18%;
  border-radius: 10%;
  border: blue 2px solid;
  justify-content: center;
  font-size: 100%;
  user-select: none;
  background-color: blue;
} */

@media only screen and (max-width: 576px) {
  .nav-links {
    flex-direction: column;
  }
  .nav-logout {
    margin-top: 15px;
  }

  #coachCard {
    padding: 0px;
    margin: 0px;
  }

  #root > div > header > form {
    padding-top: 15%;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }

  #coachCard {
    width: 98%;
  }
}
